Binaries
DerivedDataCache
Intermediate
Build
Saved
**/StarterContent
**/Characters
**/Collections
**/Developers
**/ThirdPerson
**/Megascans
**/MSPresets

.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.htm

