Binaries
DerivedDataCache
Intermediate
Build
Content
**/StarterContent

.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.htm

ServerWS/x64/
ServerWS/.vs/
ServerWS/ServerWS
ServerWS/ClientTmp